{% extends 'base.html' %}
{% block content%}
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/banner/bnr1.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">About Us</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="#">Home</a></li>
							<li>About Us</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
		<div class="content-block">
            <div class="section-full content-inner overlay-white-middle">
				<div class="container">
					<div class="row align-items-center m-b50">
						<div class="col-md-12 col-lg-6 m-b20">
							<h2 class="m-b5">About Us</h2>
							<h3 class="fw4">We create unique experiences</h3>
							<p class="m-b15">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</p>
							<p class="m-b15">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</p>
							<a href="#" class="site-button">Read More</a>
						</div>
						<div class="col-md-12 col-lg-6">
							<img src="images/our-work/pic1.jpg" alt=""/>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-12 m-b30">
							<div class="icon-bx-wraper p-a30 center bg-gray radius-sm">
								<div class="icon-md text-primary m-b20"> <a href="#" class="icon-cell text-primary"><i class="ti-desktop"></i></a> </div>
								<div class="icon-content">
									<h5 class="dlab-tilte text-uppercase">Elegant / Unique design</h5>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod..</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 m-b30">
							<div class="icon-bx-wraper p-a30 center bg-gray radius-sm">
								<div class="icon-md text-primary m-b20"> <a href="#" class="icon-cell text-primary"><i class="ti-image"></i></a> </div>
								<div class="icon-content">
									<h5 class="dlab-tilte text-uppercase">Make it Simple</h5>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod..</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 m-b30">
							<div class="icon-bx-wraper p-a30 center bg-gray radius-sm">
								<div class="icon-md text-primary m-b20"> <a href="#" class="icon-cell text-primary"><i class="ti-cup"></i></a> </div>
								<div class="icon-content">
									<h5 class="dlab-tilte text-uppercase">Different Layout Type</h5>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod..</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Why Chose Us -->
			<!-- Call To Action -->
			<div class="section-full content-inner-2 call-to-action overlay-black-dark text-white text-center bg-img-fix" style="background-image: url(images/background/bg4.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="m-b10">Make a Difference with Your Online Resume!</h2>
							<p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
							<a href="#" class="site-button m-t20 outline outline-2 radius-xl">Create an Account</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Call To Action END -->
			<!-- Our Latest Blog -->
			<div class="section-full content-inner-2 overlay-white-middle">
				<div class="container">
					<div class="section-head text-black text-center">
						<h2 class="text-uppercase m-b0">Our Latest Blog</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
					</div>
					<div class="blog-carousel owl-carousel owl-btn-center-lr owl-btn-3 owl-theme owl-btn-center-lr owl-btn-1">
						<div class="item">
							<div class="blog-post blog-grid blog-style-1">
								<div class="dez-post-media dez-img-effect radius-sm"> <a href="#"><img src="images/blog/grid/pic4.jpg" alt=""></a> </div>
								<div class="dez-info">
									 <div class="dez-post-meta">
										<ul class="d-flex align-items-center">
											<li class="post-date"><i class="fa fa-calendar"></i>September 18, 2017</li>
											<li class="post-comment"><i class="fa fa-comments-o"></i><a href="#">5k</a> </li>
										</ul>
									</div>
									<div class="dez-post-title ">
										<h5 class="post-title font-20"><a href="#">Do you have a job that the average person doesn even know exists?</a></h5>
									</div>
									<div class="dez-post-text">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy..</p>
									</div>
									<div class="dez-post-readmore blog-share"> 
										<a href="#" title="READ MORE" rel="bookmark" class="site-button outline">READ MORE</a>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="blog-post blog-grid blog-style-1">
								<div class="dez-post-media dez-img-effect radius-sm"> <a href="#"><img src="images/blog/grid/pic3.jpg" alt=""></a> </div>
								<div class="dez-info">
									 <div class="dez-post-meta">
										<ul class="d-flex align-items-center">
											<li class="post-date"><i class="fa fa-calendar"></i>September 18, 2017</li>
											<li class="post-comment"><i class="fa fa-comments-o"></i><a href="#">5k</a> </li>
										</ul>
									</div>
									<div class="dez-post-title ">
										<h5 class="post-title font-20"><a href="#">Do you have a job that the average person doesn even know exists?</a></h5>
									</div>
									<div class="dez-post-text">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy..</p>
									</div>
									<div class="dez-post-readmore blog-share"> 
										<a href="#" title="READ MORE" rel="bookmark" class="site-button outline">READ MORE</a>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="blog-post blog-grid blog-style-1">
								<div class="dez-post-media dez-img-effect radius-sm"> <a href="#"><img src="images/blog/grid/pic2.jpg" alt=""></a> </div>
								<div class="dez-info">
									 <div class="dez-post-meta">
										<ul class="d-flex align-items-center">
											<li class="post-date"><i class="fa fa-calendar"></i>September 18, 2017</li>
											<li class="post-comment"><i class="fa fa-comments-o"></i><a href="#">5k</a> </li>
										</ul>
									</div>
									<div class="dez-post-title ">
										<h5 class="post-title font-20"><a href="#">Do you have a job that the average person doesn even know exists?</a></h5>
									</div>
									<div class="dez-post-text">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy..</p>
									</div>
									<div class="dez-post-readmore blog-share"> 
										<a href="#" title="READ MORE" rel="bookmark" class="site-button outline">READ MORE</a>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="blog-post blog-grid blog-style-1">
								<div class="dez-post-media dez-img-effect radius-sm"> <a href="#"><img src="images/blog/grid/pic1.jpg" alt=""></a> </div>
								<div class="dez-info">
									 <div class="dez-post-meta">
										<ul class="d-flex align-items-center">
											<li class="post-date"><i class="fa fa-calendar"></i>September 18, 2017</li>
											<li class="post-comment"><i class="fa fa-comments-o"></i><a href="#">5k</a> </li>
										</ul>
									</div>
									<div class="dez-post-title ">
										<h5 class="post-title font-20"><a href="#">Do you have a job that the average person doesn even know exists?</a></h5>
									</div>
									<div class="dez-post-text">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy..</p>
									</div>
									<div class="dez-post-readmore blog-share"> 
										<a href="#" title="READ MORE" rel="bookmark" class="site-button outline">READ MORE</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Our Latest Blog -->
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer -->
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
					<div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
                        <div class="widget">
                            <img src="images/logo-white.png" width="180" class="m-b15" alt=""/>
							<p class="text-capitalize m-b20">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the..</p>
                            <div class="subscribe-form m-b20">
								<form class="dzSubscribe" action="http://job-board.w3itexperts.com/xhtml/script/mailchamp.php" method="post">
									<div class="dzSubscribeMsg"></div>
									<div class="input-group">
										<input name="dzEmail" required="required"  class="form-control" placeholder="Your Email Id" type="email">
										<span class="input-group-btn">
											<button name="submit" value="Submit" type="submit" class="site-button radius-xl">Subscribe</button>
										</span> 
									</div>
								</form>
							</div>
							<ul class="list-inline m-a0">
								<li><a href="#" class="site-button white facebook circle "><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="site-button white google-plus circle "><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="site-button white linkedin circle "><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" class="site-button white instagram circle "><i class="fa fa-instagram"></i></a></li>
								<li><a href="#" class="site-button white twitter circle "><i class="fa fa-twitter"></i></a></li>
							</ul>
                        </div>
                    </div>
					<div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Frequently Asked Questions</h5>
                            <ul class="list-2 list-line">
                                <li><a href="#">Privacy & Seurty</a></li>
                                <li><a href="#">Terms of Serice</a></li>
                                <li><a href="#">Communications</a></li>
                                <li><a href="#">Referral Terms</a></li>
                                <li><a href="#">Lending Licnses</a></li>
								<li><a href="#">Support</a></li>
                                <li><a href="#">How It Works</a></li>
                                <li><a href="#">For Employers</a></li>
                                <li><a href="#">Underwriting</a></li>
                                <li><a href="#">Contact Us</a></li>
								<li><a href="#">Lending Licnses</a></li>
								<li><a href="#">Support</a></li>
                            </ul>
                        </div>
                    </div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Find Jobs</h5>
                            <ul class="list-2 w10 list-line">
                                <li><a href="#">US Jobs</a></li>
                                <li><a href="#">Canada Jobs</a></li>
                                <li><a href="#">UK Jobs</a></li>
                                <li><a href="#">Emplois en Fnce</a></li>
                                <li><a href="#">Jobs in Deuts</a></li>
								<li><a href="#">Vacatures China</a></li>
                            </ul>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center"><span><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></span></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/wow/wow.js"></script><!-- WOW JS -->
<script src="plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="plugins/rangeslider/rangeslider.js" ></script><!-- Rangeslider -->
<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src='js/recaptcha/api.js'></script> <!-- Google API For Recaptcha  -->
<script src="js/dz.ajax.js"></script><!-- CONTACT JS  -->
<script src="plugins/paroller/skrollr.min.js"></script><!-- PAROLLER -->
</body>

</html>
