{% extends 'base.html' %}
{% load static%}
{% block content%}
{% load crispy_forms_tags %}
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle bg-pt" style="background-image:url( {% static 'images/banner/bnr2.jpg' %});">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">JOB POST</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="#">Home</a></li>
							<li>Job Post</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="section-full content-inner shop-account">
            <!-- Product -->
            <div class="container">
                <div class="row">
					<div class="col-md-12 text-center">
						<h3 class="font-weight-700 m-t0 m-b20">Create An Job</h3>
					</div>
				</div>
                <div class="row">
					<div class="col-md-12 m-b30">
						<div class="p-a30 border-1  max-w500 m-auto">
							<div class="tab-content">
								<form id="login" method="POST" class="tab-pane active">
								{% csrf_token %}
									<h4 class="font-weight-700">MY INFORMATIONS</h4>
									{% comment %} <div class="form-group">
										<label class="font-weight-700">First Name * :</label>
										<input name="dzName" required="" class="form-control" placeholder="First Name" type="text">
									</div>
									<div class="form-group">
										<label class="font-weight-700">Last Name * :</label>
										<input name="dzName" required="" class="form-control" placeholder="Last Name" type="text">
									</div>
									<div class="form-group">
										<label class="font-weight-700">E-MAIL * :</label>
										<input name="dzName" required="" class="form-control" placeholder="Your Email Id" type="email">
									</div>
									<div class="form-group">
										<label class="font-weight-700">PASSWORD * :</label>
										<input name="dzName" required="" class="form-control " placeholder="Type Password" type="password">
									</div>
									<div class="form-group text-left">
										<label class="" style="padding-right:10px">Organization * :</label>
										<input name="dzName" required="" type="checkbox">
									</div> {% endcomment %}
									{{form|crispy}}
									<div class="text-left">
										<button class="site-button button-lg outline outline-2"> POST </button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
            <!-- Product END -->
		</div>
		<!-- contact area  END -->
    </div>
    <!-- Content END-->
{% endblock %}