{% extends 'base.html' %}
{% block content%}

    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/banner/bnr2.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Portfolio Grid 3</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="#">Home</a></li>
							<li>Portfolio Grid 3</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
			<!-- Portfolio  -->
			<div class="section-full content-inner-2 portfolio-box">
				<div class="container">
					<div class="section-head text-black text-center m-b20">
						<h2 class="m-b10">Our Portfolio</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
					</div>
					<div class="site-filters style1 clearfix center">
						<ul class="filters" data-toggle="buttons">
							<li data-filter="" class="btn active"><input type="radio"><a href="#"><span>All</span></a></li>
							<li data-filter="web" class="btn"><input type="radio"><a href="#"><span>Designing</span></a></li>
							<li data-filter="advertising" class="btn"><input type="radio"><a href="#"><span>Construct</span></a></li>
							<li data-filter="branding" class="btn"><input type="radio"><a href="#"><span>Finance</span></a></li>
							<li data-filter="design" class="btn"><input type="radio"><a href="#"><span>Development</span></a></li>
							<li data-filter="photography" class="btn"><input type="radio"><a href="#"><span>Archeology</span></a></li>
						</ul>
					</div>
					<div class="clearfix">
						<ul id="masonry" class="dez-gallery-listing gallery-grid-4 gallery mfp-gallery sp10">
							<li class="web design card-container col-lg-4 col-md-4 col-sm-4 col-6">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect">
										<a href="javascript:void(0);"> <img src="images/gallery/pic1.jpg"  alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon"> 
												<a class="mfp-link" title="Image Title Come Here" href="images/gallery/pic1.jpg"> <i class="ti-fullscreen"></i> </a>	
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="advertising branding photography card-container col-lg-4 col-md-4 col-sm-4 col-6">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect dez-img-effect "> 
									<a href="javascript:void(0);"> <img src="images/gallery/pic2.jpg"  alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon"> 
												<a class="mfp-link" title="Image Title Come Here" href="images/gallery/pic2.jpg"> <i class="ti-fullscreen"></i> </a>	
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="branding design photography card-container col-lg-4 col-md-4 col-sm-4 col-6">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect"> 
									<a href="javascript:void(0);"> <img src="images/gallery/pic3.jpg"  alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon"> 
												<a class="mfp-link" title="Image Title Come Here" href="images/gallery/pic3.jpg"> <i class="ti-fullscreen"></i> </a>	
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="web design card-container col-lg-4 col-md-4 col-sm-4 col-6">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect"> 
									<a href="javascript:void(0);"> <img src="images/gallery/pic4.jpg"  alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon"> 
												<a class="mfp-link" title="Image Title Come Here" href="images/gallery/pic4.jpg"> <i class="ti-fullscreen"></i> </a>	
											</div>
										</div>
									</div>
								</div>
							</li>
							 <li class="web branding card-container col-lg-4 col-md-4 col-sm-4 col-6">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect">
									<a href="javascript:void(0);"> <img src="images/gallery/pic5.jpg"  alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon"> 
												<a class="mfp-link" title="Image Title Come Here" href="images/gallery/pic5.jpg"> <i class="ti-fullscreen"></i> </a>	
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="advertising design photography card-container col-lg-4 col-md-4 col-sm-4 col-6">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect ">
									<a href="javascript:void(0);"> <img src="images/gallery/pic6.jpg"  alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon"> 
												<a class="mfp-link" title="Image Title Come Here" href="images/gallery/pic6.jpg"> <i class="ti-fullscreen"></i> </a>	
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="web branding card-container col-lg-4 col-md-4 col-sm-4 col-6">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect">
										<a href="javascript:void(0);"> <img src="images/gallery/pic7.jpg"  alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon"> 
												<a class="mfp-link" title="Image Title Come Here" href="images/gallery/pic7.jpg"> <i class="ti-fullscreen"></i> </a>	
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="advertising design photography card-container col-lg-4 col-md-4 col-sm-4 col-6">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect dez-img-effect "> 
									<a href="javascript:void(0);"> <img src="images/gallery/pic8.jpg"  alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon"> 
												<a class="mfp-link" title="Image Title Come Here" href="images/gallery/pic8.jpg"> <i class="ti-fullscreen"></i> </a>	
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="web photography card-container col-lg-4 col-md-4 col-sm-4 col-6">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect"> 
									<a href="javascript:void(0);"> <img src="images/gallery/pic9.jpg"  alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon"> 
												<a class="mfp-link" title="Image Title Come Here" href="images/gallery/pic9.jpg"> <i class="ti-fullscreen"></i> </a>	
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="advertising branding card-container col-lg-4 col-md-4 col-sm-4 col-6">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect"> 
									<a href="javascript:void(0);"> <img src="images/gallery/pic1.jpg"  alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon"> 
												<a class="mfp-link" title="Image Title Come Here" href="images/gallery/pic1.jpg"> <i class="ti-fullscreen"></i> </a>	
											</div>
										</div>
									</div>
								</div>
							</li>
							 <li class="web design card-container col-lg-4 col-md-4 col-sm-4 col-6">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect">
									<a href="javascript:void(0);"> <img src="images/gallery/pic2.jpg"  alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon"> 
												<a class="mfp-link" title="Image Title Come Here" href="images/gallery/pic2.jpg"> <i class="ti-fullscreen"></i> </a>	
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="advertising branding photography card-container col-lg-4 col-md-4 col-sm-4 col-6">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect ">
									<a href="javascript:void(0);"> <img src="images/gallery/pic3.jpg"  alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon"> 
												<a class="mfp-link" title="Image Title Come Here" href="images/gallery/pic3.jpg"> <i class="ti-fullscreen"></i> </a>	
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer -->
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
					<div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
                        <div class="widget">
                            <img src="images/logo-white.png" width="180" class="m-b15" alt=""/>
							<p class="text-capitalize m-b20">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the..</p>
                            <div class="subscribe-form m-b20">
								<form class="dzSubscribe" action="http://job-board.w3itexperts.com/xhtml/script/mailchamp.php" method="post">
									<div class="dzSubscribeMsg"></div>
									<div class="input-group">
										<input name="dzEmail" required="required"  class="form-control" placeholder="Your Email Id" type="email">
										<span class="input-group-btn">
											<button name="submit" value="Submit" type="submit" class="site-button radius-xl">Subscribe</button>
										</span> 
									</div>
								</form>
							</div>
							<ul class="list-inline m-a0">
								<li><a href="#" class="site-button white facebook circle "><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="site-button white google-plus circle "><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="site-button white linkedin circle "><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" class="site-button white instagram circle "><i class="fa fa-instagram"></i></a></li>
								<li><a href="#" class="site-button white twitter circle "><i class="fa fa-twitter"></i></a></li>
							</ul>
                        </div>
                    </div>
					<div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Frequently Asked Questions</h5>
                            <ul class="list-2 list-line">
                                <li><a href="#">Privacy & Seurty</a></li>
                                <li><a href="#">Terms of Serice</a></li>
                                <li><a href="#">Communications</a></li>
                                <li><a href="#">Referral Terms</a></li>
                                <li><a href="#">Lending Licnses</a></li>
								<li><a href="#">Support</a></li>
                                <li><a href="#">How It Works</a></li>
                                <li><a href="#">For Employers</a></li>
                                <li><a href="#">Underwriting</a></li>
                                <li><a href="#">Contact Us</a></li>
								<li><a href="#">Lending Licnses</a></li>
								<li><a href="#">Support</a></li>
                            </ul>
                        </div>
                    </div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Find Jobs</h5>
                            <ul class="list-2 w10 list-line">
                                <li><a href="#">US Jobs</a></li>
                                <li><a href="#">Canada Jobs</a></li>
                                <li><a href="#">UK Jobs</a></li>
                                <li><a href="#">Emplois en Fnce</a></li>
                                <li><a href="#">Jobs in Deuts</a></li>
								<li><a href="#">Vacatures China</a></li>
                            </ul>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center"><span><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></span></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/wow/wow.js"></script><!-- WOW JS -->
<script src="plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="plugins/rangeslider/rangeslider.js" ></script><!-- Rangeslider -->
<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="js/dz.ajax.js"></script><!-- CONTACT JS  -->

 

</body>


</html>
